@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2> this is a demo website! </h2>

<div>
    <img src="images/ragdollhed.png"/>
    
    <p>Johns Change</p>
  
    
    some other changes from liz.

    <p>some new content</p>
</div>

