@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2> this is a demo website! </h2>

<div>
    <img src="http://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/ragdollhed.png?itok=pUNVo9dz&resize=1100x619"/>
</div>

